@import linkUnderlines

$serif = 'Gentium Book Basic', serif
$sans-serif = 'Open Sans', sans-serif

$jcrew-dark-blue = rgb(39, 80, 117)
$jcrew-light-blue = rgb(80, 116, 153)
$jcrew-dark-turquoise = rgb(57, 117, 160)
$jcrew-light-turqouise = rgb(90, 152, 194)
$jcrew-periwinkle = rgb(196, 210, 231)
$jcrew-light-purple = rgb(214, 221, 236)
$background-color = rgb(214, 221, 236)
$font-color = rgb(33,33,33)

html 
  background-color: $background-color
  color: $font-color

html 
  box-sizing: border-box
  
*, *:before, *:after 
  box-sizing: inherit

body 
  color: rgb(33,33,33)
  font: 112.5% $sans-serif
  margin: 30px auto 0
  @media screen and (min-width: 401px)
    margin: 40px auto 0

h1, h2, h3, h4, h5 
  font-family: $sans-serif

p 
  font-size: 16px

ul 
  list-style: none
  padding: 0 10px 0 15px
  @media screen and (min-width: 561px)
    padding: 0 20px

a
  text-decoration: none
  linkUnderlines $background-color, $font-color

li
  font-size: 16px
  margin-bottom: 10px 
  span
    display: inline-block
    width: 79px

div.row
  max-width: 840px

header.row
  max-width: 870px

section
  padding: 0 20px 40px
  
  .row
    h1
      border-bottom: 1px solid $font-color
      font-size: 48px
      margin: 0

    h3 
      margin-bottom: 0
    h4
      margin-top: 0
      
    &:nth-child(n+2)
      padding-left: 10px

header.row
  margin: 0px auto 20px auto
  overflow: hidden
  padding: 0 10px

  h1
    margin: 60px 0 0 0 
    float: left
    width: 66.6666667%
    font-size: 72px
    display: none
    
  img
    float: left
    width: 33.3333333%
    max-width: 140px
  
  @media screen and (min-width: 641px)
    img
      float: right
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      
    h1
      display: block

footer
  width: 100%
  padding: 40px 20px
  background-color: $font-color
  color: $background-color
  
  h3
    border-bottom: 2px solid white
    display:inline-block
    margin:10px 0


#smedia > a
  position: relative
  display: inline-block 
  background-image: none
  
  &:after 
    content: "" 
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left:0
