$serif = 'Gentium Book Basic', serif
$sans-serif = 'Open Sans', sans-serif

html 
  background-color: rgb(4, 19, 38)

body 
  color: white
  font: 112.5% $sans-serif
  margin: 20px auto
  padding: 0 20px

h1, h2, h3, h4, h5 
  font-family: $serif
  color: white

#menu
  margin: 0 auto 40px auto

  h1
    display: inline-block
    margin: 0

#smedia
  float: right

a
  animation: fadein 3s
  color: #1485CC

.sprite
  background: url('../images/button-sprite.png') no-repeat left center
  float: left
  height: 32px
  margin: 4px
  width: 30px

#twitter 
  background-position: -106px 0px

#spotify
  background-position:  -68px 1px
  margin-left: 0
  width: 35px

#linkedin 
  background-position:  -36px 0px

#github 
  background-position:  0px 0px
 
@keyframes fadein {
  from {
    opacity: 0 
  }
  to {
    opacity: 1 
  }
}

.circle-img 
  border-radius: 50%
  overflow: hidden
  max-height: 250px
  max-width: 250px
  margin: 0 auto

  img 
    width: 100%
    height: 100%
