.row
  overflow: hidden
  margin: 0 auto
  max-width: 960px

  .columns
    float: left
    position: relative
    width: 100%

    &:last-child
      float:right
    @media screen and (min-width: 560px)
      &.one
        width: 8.33333%
      &.two
        width: 16.66666%
      &.three
        width: 25%
      &.four 
        width: 33.33333%
      &.five
        width: 41.66666%
      &.six
        width: 50%
      &.seven
        width: 58.33333%
      &.eight
        width: 66.66666%
      &.nine
        width: 75%
      &.ten
        width: 83.33333%
      &.eleven
        width: 91.66666%
      &.twelve
        width: 100%

      &.push-one
        right: 8.33333%
      &.push-two
        right: 16.66666%
      &.push-three
        right: 25%
      &.push-four 
        right: 33.33333%
      &.push-five
        right: 41.66666%
      &.push-six
        right: 50%
      &.push-seven
        right: 58.33333%
      &.push-eight
        right: 66.66666%
      &.push-nine
        right: 75%
      &.push-ten
        right: 83.33333%
      &.push-eleven
        right: 91.66666%
      &.push-twelve
        right: 100%

      &.pull-one
        left: 8.33333%
      &.pull-two
        left: 16.66666%
      &.pull-three
        left: 25%
      &.pull-four 
        left: 33.33333%
      &.pull-five
        left: 41.66666%
      &.pull-six
        left: 50%
      &.pull-seven
        left: 58.33333%
      &.pull-eight
        left: 66.66666%
      &.pull-nine
        left: 75%
      &.pull-ten
        left: 83.33333%
      &.pull-eleven
        left: 91.66666%
      &.pull-twelve
        left: 100%
    