.recap
  body
    padding: 0
  #menu
    padding: 0 20px

  .leftGradient
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)

  .rightGradient
    background: linear-gradient(to left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%)

  section, .words
    height: 350px
    @media screen and (min-width: 768px)
      height: 600px
    @media screen and (min-width: 1500px)
      height: 900px

  section
    background-position: center right
    background-repeat no-repeat
    background-size: cover
    border-top:3px solid black
    border-bottom: 3px solid black
    overflow: hidden
    position: relative
    width: 100%

    .row
      margin: 0 auto
    
    h1, p, a, li
      text-shadow:1px 1px 1px #000

    .words
      padding: 10% 5%
      position: relative
      width: 40%
      @media screen and (min-width: 768px)
        font-size: 1.25em
      @media screen and (min-width: 1500px)
        font-size: 2em

      &.left
        float: left
      &.right
        float: right
        text-align: right

    a 
      border-bottom: 2px solid rgb(136,196,86)
      color: white
      text-decoration: none
      &:hover
        color: rgb(136,196,86)

    &.intro
      background-image:url('images/recap/img1.jpg')

      h1
        position: absolute
        left:0
        top:7.5%
        width:100%
        color:white
        text-align: center
        margin: 0 auto
        text-shadow:1px 1px 1px #000
        font: 3em 'Open Sans',sans-serif

        @media screen and (min-width: 768px)
          font-size: 5em
          top: 10%

    &.total
      background-image:url('images/recap/finaltotal1.jpg')

      .words
        padding:5% 5% 10% 5%

        @media screen and (min-width: 768px)
          font-size: 1.5em
          padding-left: 3%
          p 
            position: relative
            top: 20%

    &.celeb
      background: rgb(0, 143, 196)
      height: auto

      img
        max-width: 100%

      .row
        padding: 20px 10px
        @media screen and (min-width: 560px)
          padding: 7.1% 20px
        .columns
          p
            margin-left: 40px
            margin-right: 40px
            @media screen and (min-width: 560px)
              &:first-child
                margin-top: 10%
            @media screen and (min-width: 768px)
              font-size: 24px
          &.gocats
            p
              margin: 5px 10px 
              text-align: center

    &.speech
      background:black url('images/recap/marissa.jpg') top center no-repeat
      background-size: cover
      position: relative
      z-index: 0
      .words > p 
        margin: 0 auto 5px

      @media screen and (min-width: 768px)
        background-position: right
        background-size: auto 100%
        .words
          font-size: 1.25em
          & > p 
            margin: 0 auto 15px
      @media screen and (min-width: 1500px)
        .words
          font-size: 2em
          & > p 
            margin: 0 auto 30px

      #speechGradient
        height:100%
        width:45%
        position: absolute
        z-index:1
        display: block
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
        background-repeat: repeat-x

      .words 
        position: relative
        z-index: 2

      #quote 
        overflow: visible
        position: relative

        p 
          margin: 0
          position: absolute
          left: 0
          top: 0
          font-style: italic
          font-size: 0.67em
          border-top: 1px solid white
          border-bottom: 1px solid white

          span 
            text-align: right 
            display: block 
            text-shadow: 1px 1px 1px #000
      
      #kapsalis, #divin, #dreher, #stanton, #katie, #julie, #loelbach, #marissa
        visibility: hidden
        &.active
          visibility: visible

      #prev, #next
        border: none
        color:white
        text-decoration: none

      #prev:hover, #next:hover
        text-decoration: underline
      
      #next
        margin-left: 10px;
    
    &.moments
      background-color: black
      background-image: url('images/recap/sandstorm.jpg')

      .words
        max-width: 350px

      li 
        display: inline-block
        margin-bottom: 10px
        &.active
          border-bottom: 2px solid rgb(136,196,86)
        &:hover
          border-bottom: 2px solid rgb(136,196,86)

    &.football
      background-image:url('images/recap/football.jpg')

    &.danced
      background-image:url('images/recap/caleb.jpg');
      background-position: top right;

      .words
        padding-top: 25%

    &.thanks
      background-image:url('images/recap/thanks.jpg');
      background-position: center center;
      position: relative;

    &.thanksText
      height:auto;
      border:none;
      color:white;
      max-width: 960px
      margin: 0 auto
      p
        margin: 20px 10px
        @media screen and (min-width: 768px)
          font-size: 1.25em
