section#projects
  div.row
    h1
      | Projects
  
  div.row
    h3
      | #[a(href="/foodmap") Flavortown Foodmap]

    ul
        li
            | A work-in-progress tool that helps you find restaurants along a given route that were featured on #[i Diners, Drive-Ins and Dives].

  //- div.row
  //-   h3
  //-     | #[a(href="/random_pocket") Random Pocket]

  //-   ul
  //-       li
  //-           | Selects a random article from your Pocket list to read.
