section#work
  div.row
    h1
      | Work

  div.row
    h3
      | Funnel Optimization Team
    h4
      i
        | Groupon, Inc
    
    ul
      li
        | In the summer of 2015, I began working at Groupon as a Software Development Engineer. I'm currently on the Deal Page team, which owns the deal details page on the main purchase flow of #[a(href="http://groupon.com") groupon.com] . I implement features and experiments, review code from team members and external contributors, resolve bugs, and work on the server &amp; client side to provide a better consumer experience. Recently, I've focused specifically on improving latency and providing better analytical tools for developers.
      
      li
        | My day-to-day work includes using Node, Coffeescript &amp; ES6, Stylus, Mustache, and Git.

  div.row
    h3
      | Executive Co-Chair
    h4
      i
        | Northwestern University Dance Marathon

    ul
      li
        | I spent most of my senior year at NU leading 20 other Executive Board members and over 1400 students in fundraising &amp; spreading awareness for the #[a(href="http://starlight.org") Starlight Children's Foundation] &amp; #[a(href="http://evanstonforever.org") Evanston Community Foundation].

      li
        | We raised $1.13 million for our beneficiaries, the second highest cash total in the organization's history. The money has been committed to building 11 #[a(href="http://starlight.org/starlightsites") Starlight Sites] in Chicagoland area hospitals and providing capacity building &amp; programming grants through the ECF #[a(href="http://evanstonforever.org/grants/responsive-grants/") Responsive Grants Program].

  div.row
    h3
      | Other Experience
    ul
      li
        | #[span Developer] | #[a(href="http://dilloday.com") DilloDay.com]
      li
        | #[span QA Intern] | Obama for America (2012)
      li
        | #[span Curator] | #[a(href="http://isjaruleok.com") isjaruleok.com]
