@font-face
{
	font-family: "ARS Maquette Pro";
	src: url('/data/fonts/ARSMaquettePro-Medium.otf')
}

@viewport{
	width:device-width;
}

body{
	background-color: #222426;
	font-family: 'ARS Maquette Pro';
	color:white;
	font-size: 62.5%;
	margin: 3em auto 1em auto;
	min-height: 100%;
}

a{
	color:#CECECE;
	text-decoration: none;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}
a:hover{
	color:white;
}

#content{
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

p{
	font-size: 1.2em;
	@media(min-width: 541px){
		font-size: 1.8em;
	}
	@media(min-width: 720px){
		font-size: 2.4em;
	}
}

/***************HEADER DATA***************/
#header{
	width:90%;
	max-width:960px;
	margin-bottom: 0.8em;
	margin-left: auto;
	margin-right: auto;
}

#navbar{
	overflow: hidden;
	border-bottom:0.125em solid #CECECE;
	font-size: 1.8em;
	padding-bottom: 0.125em;
	ul{
		margin: 0 auto;
		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;
		li{
			font-size: 1.3333em;
			margin:0.5em;
			@media(min-width: 541px){
				margin: 0 0 0 0.5em;
				font-size: 1em;
				display: inline-block;
			}
		}
		@media(min-width:541px){
		float:right;
		width: auto;
		}
	}
}

#home {
	font-size: 1.5555em;
	text-align: left;
	display: inline-block;
}

#nav-button{
	height:21px;
	width: auto;
	margin-top: 8px;
	float: right;
	@media(min-width:541px){
		display: none;
	}
}

#nav-list{
	-webkit-transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

/***************HEADER DATA***************/

/***************FOOTER DATA***************/
#footer, #footer1{
	position:relative;
	width: 100%;
	max-width: 960px;
	overflow: hidden;
	clear: both;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	a{
		float:right;
		margin: .25em;
		img{
			width:30px;
			height:auto;
		}
	}
}
/*
#twitter{
	padding-top:4px;
}
*/
.sprite{
	background:none no-repeat left center;
	background-image:url('/data/images/button-sprite.png');
	height:32px;
	width:30px;
}

#twtr{
	background-position: -106px 0px;
}
#spot{
	background-position:  -70px 0px;
}
#in{
	background-position:  -36px 0px;
}
#ghub{
	background-position:  0px 0px;
}
/***************FOOTER DATA***************/


