@font-face {
    font-family: 'FiraSansOTLight';
    src: url('firasansot-light.eot');
    src: url('firasansot-light.eot') format('embedded-opentype'),
         url('firasansot-light.woff') format('woff'),
         url('firasansot-light.ttf') format('truetype'),
         url('firasansot-light.svg#FiraSansOTLight') format('svg');
}

html{
	min-height:100%;
	position:relative;
	font-family: 'FiraSansOTLight', Times, Arial;
}

body{ 
  background: url('my face.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;

}

#menuThing{
	background-color: rgba(0,0,0,0.15);
	color:white;
	min-height: 100%;
	width:30%;
	padding-top: 30px;
	text-align: center;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1
}

#menuThing > h1{
		color:white;
}

#name{
	text-decoration: underline;
}