@font-face {
    font-family: 'FiraSansOTLight';
    src: url('firasansot-light.eot');
    src: url('firasansot-light.eot') format('embedded-opentype'),
         url('firasansot-light.woff') format('woff'),
         url('firasansot-light.ttf') format('truetype'),
         url('firasansot-light.svg#FiraSansOTLight') format('svg');
}

html{
	position:relative;
	font-family: 'FiraSansOTLight', Times, Arial;
  margin: 0 auto;
}

body{ 
  background: url('my face 2.jpg') no-repeat left center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

body, html {

  height: 100%;
}

#menuThing{
	color:white;
	width:100%;
	padding-top: 10px;
	text-align: center;
  width: 100%;
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(0,0,0,0.15);
}

@media(min-width: 560px){
  #menuThing{
    min-height: 100%;
    width:39%;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    overflow:hidden;
    padding-top: 30px;
  }
}
@media (min-width: 568px){
	#menuThing{
		width:39%;
	}
}


@media (min-width: 720px){
  #menuThing{
    width:30%;
    max-width: 300px;
  }
}

@media(min-width: 1000px){
  body{
    background: rgb(4, 19, 38) url('my face 2.jpg') no-repeat left center fixed; 
    -webkit-background-size: 1000px;
    -moz-background-size: 1000px;
    -o-background-size: 1000px;
    background-size: 1000px;
    position: relative;
  }
  #menuThing{
      background-color: rgb(4, 19, 38);
      margin-left: 70%;
      position: relative;
      display: block;
      max-width: none;
  }
}

#nowait{
  display: none;
  color: white;
  font-size: 60px;
  width: 100%;
  position: absolute;
  top: 0;
   left:0;
    bottom:0;
    right:0;
    overflow:hidden;
  margin-top: 50px;
}

@media(min-width: 1700px){
  #nowait{
    display: block;
  }
}

#menuThing > h1{
		color:white;
}

a{
  text-decoration: none;
  color: white;
}

h1{
  padding-top: 0.3em;
  margin: 0 auto 0.3em auto; 
}

p{
  padding-top: 0.3em;
  margin: 0 auto 0.6em auto;  
}

#smedia{
  width: 157px;
  display: block;
  position: relative;
  overflow: hidden;
  clear: both;
      margin-left: auto;
    margin-right: auto;
}

#smedia > a{
    float:left;
    margin: .25em;
}

#smedia > a img{
      width:30px;
      height:auto;
    }

.sprite{
  background:none no-repeat left center;
  background-image:url('button-sprite.png');
  height:32px;
  width:30px;
  padding-bottom: 10px;
}

#smedia > #twtr{
  background-position: -106px 0px;
}
#smedia > #rdio{
  background-position:  -69px 0px;
  margin-left: 0;
  width: 35px;
}
#in{
  background-position:  -36px 0px;
}
#ghub{
  background-position:  0px 0px;
}


a,p {
    -webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​
