---
title: Homepage
permalink: index.html
---

<html>
<head>
		<link rel="stylesheet/less" type="text/css" href="home.less">
		{% include head.md%}
</head>
<body>
	{% include header.md%}
	<div id="content">
		<h1>To-do list for this site:</h1>
		<ul id="to-do">
			<li>
				FIND A GOOD FONT. PLEASE SEND SUGGESTIONS TO ME FOR THE LOVE OF GOD
			</li>
			<li>
				Finish responsiveness for navbar
			</li>
			<li>
				Make a fancy resume and about me page. They are gonna be great.
			</li>
			<li>
				Make some projects! Here's some ideas:
				<ul>
					<li>
						Listening stats/heavy rotation using last.FM
					</li>
					<li>
						That stupid mp3 concatenator idea that has been hanging over my head for a billion years now
					</li>
					<li>
						My enormous Chicago housing project idea that will practically take a dissertation to finish
					</li>
					<li>
						NATGEO / NASA picture of the day thing
					</li>
					<li>
						blog?
					</li>
				</ul>
			</li>
		</ul>
	</div>
	{%include footer.md%}
</body>
</html>
