div.row
    div.auth
        h4
            | Authorizing...
    article.random
        div.article-info
            h3.title
                | Title
            h3.website
                | website
            a.pocket_url
                | Read on Pocket | #[a.og_url Read OG Article]
                // | #[a#delete-button Delete article]

        div#random-button
            | Get a Random Article
