extends ../../core/layout.pug

append head
    append css
        include css.pug

block content
    div.row
        h1.title_header.counter(data-num="999")
            | Random Pocket

        h3
            | A tool to help you get through your massive Pocket archive

    block auth

block js
    include js.pug
