doctype html

html
  
  block head
    include head.pug
  
  body
    block header
        include ../modules/header/index.pug
    
    block content

    include ../modules/footer/index.pug
    
    block js
