---
title: New-Resume
permalink: index1.html
---

<html>
<head>
	<link rel="stylesheet/less" type="text/css" href="resume1.less">
	<script src="/data/javascript/responsive_enhance.js" type="text/javascript"></script>	
	{% include head.md%}
</head>
<body>
	{% include header.md%}
	<div id="content">
		<a id="download" href="Resume_David_Ryan.pdf">Download<span style="font-size:0.25em;"><br>(its the boring kind)</span></a>

		<h1 class="mega-header">Super Amazing Resume!</h1>

		<div class="work">
			<img class="masthead" src="/data/images/frontend-720.jpg" data-fullsrc="/data/images/frontend-1400.jpg"></img>
			<div class="description">
				<h1>Volunteer Intern: Obama for America</h1>
				<h3 class="date">Sept. - Nov. 2012</h3>
				<p>I had an absolute blast as an intern with the Front-End Development Team of the OFA campaign. I mostly worked in Quality Assurance for the site's website, although I also had the opportunity to call voters, canvass, and work on other projects around the Chicago Headquarters.</p>
			</div>
		</div>

		<div class="work">
			<img class="masthead" src="/data/images/ecc-720.jpg" data-fullsrc="/data/images/ecc-1400.jpg"></img>
			<div class="description">
				<h1>Counselor: The Episcopal Conference Center, R.I.</h1>
				<h3 class="date">Summer 2008 - 2013</h3>
				<p>This place is my second home.</p>
			</div>
		</div>

		<div class="work">
			<img class="masthead" src="/data/images/ao-720.jpg" data-fullsrc="/data/images/ao-1400.jpg"></img>
			<div class="description">
				<h1>Marketing & Media Committee: A&O Productions</h1>
				<h3 class="date">Fall 2012 - Present</h3>
				<p>I do the web design work for A&O Productions, a student group in charge of bringing musical artists and speakers to campus.</p>
			</div>
		</div>

	</div>
	{%include footer.md%}
</body>
<script>responsiveEnhance(document.getElementsByClassName('masthead'), 720);</script>
</html>