@import variables
@import grid
@import linkUnderlines
@import avatarzomg

html 
  background-color: $background-color
  color: $font-color
  box-sizing: border-box
  
*, *:before, *:after 
  box-sizing: inherit

::selection {
  background: #FF9933
}

::-moz-selection {
  background: #FF9933
}

body 
  color: rgb(33,33,33)
  font: 112.5% $sans-serif
  margin: 0px auto

h1, h2, h3, h4, h5 
  font-family: $sans-serif

p 
  font-size: 16px

ul 
  list-style: none
  padding: 0 10px 0 15px
  @media screen and (min-width: 561px)
    padding: 0 20px

a
  text-decoration: none
  linkUnderlines $background-color, $font-color

li
  font-size: 16px
  margin-bottom: 10px 
  span
    display: inline-block
    width: 79px

div.row
  max-width: 840px

header.row
  max-width: 850px
  margin: 0px auto
  overflow: hidden
  padding: 30px 0 0 0
  position: relative
  text-align: center

  h1
    margin: 20px 0 0 0
    float: left
    width: 66.6666667%
    font-size: 72px
    display: none
    text-align: left
    color: $jcrew-dark-turquoise
    
  img
    float: none
    text-align: center
    width: 160px
    position: relative
    top: 5px
  
  @media screen and (min-width: 401px)
    padding: 40px 0 0 0
  
  @media screen and (min-width: 641px)
    img
      float: right
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      width: 33.3333333%
      max-width: 140px
      top: 0
      
    h1
      display: block
    
  .face-mask
    position: absolute
    left: 50%
    top: 52px
    margin-left: -29px
    width: 51px
    height: auto
    fill: #fbecdf
    
    &:hover
      -webkit-animation: avatarzomg 0.4s infinite
      -moz-animation: avatarzomg 0.4s infinite
      animation: avatarzomg 0.4s infinite
  
    @media screen and (min-width: 401px)    
      top: 62px

    @media screen and (min-width: 641px)
      -moz-transform: scaleX(-1)
      -o-transform: scaleX(-1)
      -webkit-transform: scaleX(-1)
      transform: scaleX(-1)
      filter: FlipH
      -ms-filter: "FlipH"
      
      left: initial
      top: 55px;
      width: 44px;
      right: 45px;
      

footer
  width: 100%
  padding: 40px 20px
  background-color: $font-color
  color: $background-color
  
  .row
    padding: 0 20px
  
  h3
    border-bottom: 2px solid white
    display:inline-block
    margin:10px 0


#smedia > a
  position: relative
  display: inline-block 
  background-image: none
  
  &:after 
    content: "" 
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left:0
