html 
  background-color: $background-color
  color: $font-color
  box-sizing: border-box
  
*, *:before, *:after 
  box-sizing: inherit

::selection {
  background: #FF9933
}

::-moz-selection {
  background: #FF9933
}

body 
  color: rgb(33,33,33)
  font: 112.5% $sans-serif
  margin: 0px auto

h1, h2, h3, h4, h5 
  font-family: $sans-serif

p 
  font-size: 16px

ul 
  list-style: none
  padding: 0 10px 0 15px
  @media screen and (min-width: 561px)
    padding: 0 20px

a
  text-decoration: none
  linkUnderlines $background-color, $font-color

li
  font-size: 16px
  margin-bottom: 10px 
  span
    display: inline-block
    width: 79px

div.row
  max-width: 840px
