$serif = 'Gentium Book Basic', serif
$sans-serif = 'Open Sans', sans-serif

$jcrew-dark-blue = rgb(39, 80, 117)
$jcrew-light-blue = rgb(80, 116, 153)
$jcrew-dark-turquoise = rgb(57, 117, 160)
$jcrew-light-turqouise = rgb(90, 152, 194)
$jcrew-periwinkle = rgb(196, 210, 231)
$jcrew-light-purple = rgb(214, 221, 236)
$background-color = rgb(214, 221, 236)
$font-color = rgb(33,33,33)

$pocket-red = #d3505a
$pocket-red-light = #ee5f64
