<footer>
  <div class="row">
    <div class="ten columns push-one">
      <p>David Ryan is a Web Developer. He really digs consumer-facing products, and is happy to work along the entire stack to see his projects through. He currently works at Groupon, Inc. in Chicago.</p>
      <p>David graduated from Northwestern University in 2015 with a B.A. in Computer Science, although if you ask him about it he's only going to want to talk about Dance Marathon.</p>
      <p>David's childhood heroes include Derek Jeter, Ms. Frizzle, &amp; Dr. Alan Grant.</p>
       <div id="smedia">
        <a href="http://www.github.com/davidmichaelryan" >
          <object type="image/svg+xml" data="/img/github.svg"></object>
        </a>
        <a href="http://www.linkedin.com/in/david-ryan-28a55261" >
          <object type="image/svg+xml" data="/img/linkedin.svg"></object>
        </a>
      </div>
    </div>
  </div>
</footer>