<section id="gifs">
  <div class="row">
    <h1>GIFS</h1>
    <div id="loading-gif-list">
        <h1>Retrieving the gif list...</h1> 
        <img src="http://dl.dropboxusercontent.com/u/83822475/gifs/dropbox-periwinkle.gif"/>
    </div>
    <ul id="gif-list">
    </ul>
    <div class="remodal" data-remodal-options="hashTracking: false" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="modal-header">Loading...</h1>
        <img id="modal-loading" src="http://dl.dropboxusercontent.com/u/83822475/gifs/dropbox-periwinkle.gif"/>
        <img id="modal-image" src="#"/>
    </div>
  </div>
</section>