<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> header }}

    {{> work }}
    {{> gifs }}
    {{> recipes }}

    {{> footer }}
    {{# includeJs }}
      </div>
        {{# jquery }}
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        {{/ jquery }}
        {{# gifsJs }}
          <script src="js/gifs.js"></script>
        {{/ gifsJs }}
        {{# recipesJs }}
          <script src="js/recipes.js"></script>
        {{/ recipesJs }}
      {{/ includeJs }}
  </body>
</html>
