<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    {{> header }}

    {{> work }}

    {{> footer }}
    
    {{# includeJs }}
      {{# jquery }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      {{/ jquery }}
    {{/ includeJs }}
  </body>
</html>
