@import '../../../core/frontend/stylus/variables.styl'

footer
  width: 100%
  padding: 40px 20px
  background-color: $font-color
  color: $background-color

  .row
    padding: 0 20px

  h3
    border-bottom: 2px solid white
    display:inline-block
    margin:10px 0

#smedia > a
  position: relative
  display: inline-block
  background-image: none
  margin-right: 5px

  &:last-child
    margin: 0

  &:after
    content: ""
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left:0
